:host {
  width: 100%;
}

.project-tree ul,
.project-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

// .mat-tree-node { width: 40px; }

ul {
  padding-left: 10px;
}

.tree-icon {

}

.tree-label {
  //display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1 auto;
}
