<section>
  <!-- stop the script -->
  <button mat-icon-button
          matTooltip="Stop"
          matTooltipPosition="below"
          matTooltipShowDelay="500"
          [disabled]="this.transportDisabled"
          [color]="this.transportColor"
  >
    <mat-icon>stop</mat-icon>
  </button>

  <!-- pause the script -->
  <button mat-icon-button
          matTooltip="Pause"
          matTooltipPosition="below"
          matTooltipShowDelay="500"
          [disabled]="this.transportDisabled"
          [color]="this.transportColor"
  >
    <mat-icon>pause</mat-icon>
  </button>

  <!-- run the script -->
  <button mat-icon-button
          matTooltip="Play"
          matTooltipPosition="below"
          matTooltipShowDelay="500"
          [disabled]="this.transportDisabled"
          [color]="this.transportColor"
  >
    <mat-icon>play_arrow</mat-icon>
  </button>
  <!--[color]="isCurrentProject ? 'warn' : 'primary'"-->
  <!-- record session data -->
  <!--<button mat-button>Record</button>-->
</section>
